
html, body {
	margin: 0;
	height: 100%;
}

.dataTables_scroll {
	text-align: center;
}

.sidebar {
	padding-bottom: 4rem;
	padding-top: 4rem;
	z-index: 99;
	/*min-width: 15rem;*/
	/*max-width: 15rem;*/
	overflow-y: auto;

	background-color: #72b1a1;
}
.side_link {
	color: #fff !important;
	background-color: #705f57;
	border-radius: 0 !important;
}
.side_link:hover {
	font-weight: bold;
}
.navbar {
	z-index: 100;
	background-color: #705f57;
}
.navbar a {
	color: #fff;
}
.content {
	margin-left: 15rem;
}

.action_button {
	text-decoration: none;
	color: #007bff;
	cursor: pointer;
}
.action_button:hover {
	text-decoration: none;
	color: #0056b3;
}

.view_container label {
	font-weight: bold;
	font-size: 1.1rem;
}
.view_container .row {
	border-top: 1px solid #000;
}

form label {
	font-weight: bold;
	font-size: 1.1rem;
}
