
html, body {
	margin: 0;
	height: 100%;
}


.bg {
	/*background-image: url("../img/bg.jpg");
	background-color:  rgba(253, 213, 213, 1);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;*/
	background: rgb(253,121,173);
	background: linear-gradient(180deg,rgb(253,121,173) 4%,rgb(255,188,198) 30%,rgb(241,228,230) 69%);
}
.content {
	background-color: #fffafc; border-radius: 3rem;
}

.notice {
	border-radius: 3rem;
}
.notice button {
	height: 100%;
}
.notice.n_all {
	box-shadow: 0 0 1rem #fff;
	max-width: 40%;
	position: fixed;
	top: 1rem;
	right: 1rem;

	z-index: 200;
}

.nav_title {
	font-family: Lucida Handwriting, Brush Script MT, cursive;
	font-size: 3rem;
}
.nav_link_bar {
	background: linear-gradient(180deg, #ffc6dd 5%, #ffd6e7 50%, #ffc6dd 95%);
	border: 2px solid #dc8a6b;
	border-width: 2px 0;

	box-shadow: 0 0 3rem #fffafc;
}
.nav_link {
	font-weight: bold;
	color: #954123;
	font-size: 1.2rem;
}
.nav_link:hover {
	color: #954123;
	text-decoration: underline;
}
.nav_link.active {
	color: #70311a;
}
.dropdown_menu {
	background-color: #fffafc;
}
.dropdown_menu a {
	color: #954123;
}
.dropdown_menu a:active {
	color: #fffafc;
	background-color: #70311a;
}

.banner {
	background-color: #ffa09f;
	padding: 0.8rem 0;
}
.banner_board {
	display: inline-block;
	border-radius: 1rem;
	background-color: #fffafc;
	border: 0.3rem solid #dc8a6b;
	padding: 0.7rem 1.6rem;

	font-weight: bold;
}

.item {
	border-right: 0.4rem solid #ffc6dd;
	border-radius: 3rem;
}
.price {
	border: 0.5rem solid #dc8a6b;
	border-width: 0 0.5rem;
	border-radius: 3rem;
}

.nav_order {
	white-space: nowrap;
	overflow-x: hidden;
}
.nav_order a {
	display: inline-block;
	float: none;
	padding: 0 1rem;

	border: 0.3rem solid #dc8a6b;
	border-width: 0 0.5rem;
	padding: 1rem 1.4rem;
	border-radius: 0.8rem;

	color: #70311a;
	font-weight: bold;
}
.scroll {
	position: absolute;
	cursor: pointer;
}
.scroll i {
	color: #70311a;
	font-size: 3rem;
}
.scroll.left {
	right: 0;
}
.scroll.right {
	left: 0;
}

.order {
	border: 0.3rem solid #dc8a6b;
	border-width: 0 0.5rem;
	padding: 1rem;
	border-radius: 0.8rem;

	color: #70311a;
}
.order td {
	border-width: 0;
}
.order div {
	text-align: center;
}

.paging span, .pagination a  {
	color: #954123;
	background: linear-gradient(180deg, #fffafc 5%, #ffe7f8 50%, #fffafc 95%);
	border-color: #dc8a6b !important;
}
.paging li span:hover, .pagination li a:hover {
	color: #000 !important;
}
.paging li.active span, .pagination li.active a {
	font-weight: bold;
	color: #70311a !important;
}

.button {
	font-weight: bold;
	cursor: pointer;
	margin: 0.1rem;
	border-width: 0;
	padding: 0.5rem 0.8rem;
	border-radius: 2rem;
}
.button.b_lg {
	padding: 0.75rem 1.2rem;
	font-size: 1.3rem;
}
.button.b_p, .button.b_n:hover {
	background-color: #ffc6dd;
	color: #70311a;
}
.button.b_n, .button.b_p:hover {
	background-color: #dc8a6b;
	color: #fff;
}


.custom_description {
	border: 0.5rem solid #dc8a6b;
	border-width: 0 0.5rem;
	border-radius: 3rem;

	padding: 1rem 1.5rem;
	margin: 1rem 0;
}
.item_img {
	border: 0.3rem solid #ffc6dd;
	border-radius: 10%;

	box-shadow: 0 0 1.2rem #fff;
	width: 100%;
}

.img_u_box {
	position: relative;
}
.img_u_change {
	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0,0,0,0.8);
	color: #fff;
	font-weight: bold;

	cursor: pointer;
}
.img_u_preview {
	max-width: 50%;
	max-height: 80%;
}
/*
.navbar.navbar-expand-lg {
	padding: 15px 16px 8px 16px;
}

.navbar.navbar-expand-sm.navbar-expand-md {
	padding: auto;
	background-color: rgba(220, 138, 107,  6.4);
	border-bottom: 5px rgba(115, 76, 35, 1);
}

.navbar.navbar-inverse {
	border: none;
}

.navbar .navbar-brand {
	padding-top: 0px;
}

.navbar .navbar-brand img {
	height: 60px;
	width: auto;
}

.navbar-text {
	color: rgba(115, 76, 35, 1);
	font-family: "Sofia", sans-serif;
	font-weight: bold;
}
.navbar-text:hover {
	color: black;
	transition-delay: .2s;
}
.navbar-header {
	margin-right: 10px; 
}

.btn.btn-light.btn-outline-secondary:hover {
	background-color: rgba(115, 76, 35, 0.6);
}

.btn.btn-light.btn-outline-secondary {
	background-color: rgba(115, 76, 35, 1);
}

.navbar-right {
	margin-right: 20px;
}

.nav-icon {
		color: rgba(115, 76, 35, 1);
}

.nav-icon:hover {
		color: rgba(115, 76, 35, 0.5);
}

.nav-link {
	text-decoration: none;
	color: rgba(115, 76, 35, 1);
}

.nav-link:hover {
		color: rgba(115, 76, 35, 0.5);
}

.search-bar {
	border-top-left-radius: 96px;
	border-bottom-left-radius: 96px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

span h1 {
	font-family: "Perpetua", sans-serif;
	text-align: center;
}

span h4{
	font-family: "Verdana", sans-serif;
}

.border {
	border: 2px black !important;
}

.container.custom-container {
	background-color: rgba(255, 255, 255, .56);
	padding: 50px;
}

#productType {
	border-color: black;
	background-color: rgba(220, 138, 107,  6.4);
	width: 170px;
}

#productDesc {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
	border-color: black;
}

.img-fluid {
	height: auto;
	width: 100%;
}

*/